# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cpython-*.pyc

# Virtual environments
.env
.venv
env/
venv/

# VS Code
.vscode/

# Checkpoints & model weights
checkpoints/
*.tcpt
*.tmod
*.pth

# Logs & results
*.log
results/
wandb/

# OS
.DS_Store
Thumbs.db

# Results
.results/
.track_results/
*.csv
/tracks_resutls
